* {
  box-sizing: border-box;
}

body {
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.home-wrapper {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7) ),url('../img/background.jpg') no-repeat center top;
  background-size: cover;
  color: white;
}

header p {
  display: inline-block;
  margin-left: 10px;
}

header {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  background-color: rgba(48, 48, 48, 0.5);
}

header nav {
  float: right;
  margin-top: 10px;
}

header nav a {
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 15px;
}

header nav a.active {
  background: #2E64AA;
  border-radius: 3px;
}

header nav a:hover {
  background: #2E64FE;
}

 .menu{
  display: inline-block;
  float: right;
  height: 100%;
}

#me {
  text-align: center;
  padding: 200px 0 150px;
}

#me h1 {
  font-size: 68px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 40px;
}

#me p {
  margin-top: 40px;
  font-size: 24px;
}

#perfil {
  background-color: #2E64AA;
  text-align: center;
  margin: 0 auto;
  padding: 100px;
  font-size: 35px;
  color: white;
}

#portafolio {
  background-color: #A4A4A4;
}

.project {
  width: 31%;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  color: white;
}

.project img {
  width: 100px;
  height: 200px;
}

footer {
  text-align: center;
  font-size: 14px;
}
