* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.home-wrapper {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7) ),url('../img/background.jpg') no-repeat center top;
  background-size: cover;
  color: white;
}

header p {
  display: inline-block;
  margin-left: 10px;
}

header {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  background-color: rgba(48, 48, 48, 0.5);
}

header nav {
  float: right;
  margin-top: 10px;
}

header nav a {
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 15px;
}

header nav a.active {
  background: #2E64AA;
  border-radius: 3px;
}

header nav a:hover {
  background: #2E64FE;
}

.menu{
  display: inline-block;
  float: right;
  height: 100%;
}

#me {
  text-align: center;
  padding: 200px 0 150px;
}

#me h1 {
  font-size: 68px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 40px;
}

#me p {
  margin-top: 40px;
  font-size: 24px;
}

#perfil {
  background-color: #2E64AA;
  text-align: center;
  margin: 0 auto;
  padding: 100px;
  font-size: 35px;
  color: white;
}

#portafolio {
  background-color: #A4A4A4;
}

.project {
  width: 31%;
  margin: 10px;
  display: inline-block;
  text-align: center;
  color: white;
}

.project img {
  width: 115px;
  height: 236px;
}

footer {
  text-align: center;
  font-size: 14px;
}

#contacto {
  background-color: #303030;
  background-image: url('../images/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#contacto {
  background-color: #303030;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#contacto h2 {
  color: white;
}

#contacto input {
  padding: 20px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
}

#contacto textarea {
  margin: 20px 0;
  padding: 20px;
  width: 400px;
}

#contacto button{
  background-color: #2E64AA;
  padding: 20px 40px;
  border-color: #4b84ce;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

footer {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7) ),url('../img/background.jpg') no-repeat center top;
  background-size: cover;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}

section {
  padding: 80px 0;
}

section h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
}

.container {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
}
